
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'arial', san-serif;

}
.navigation {
  position:fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: lightgrey;
  padding: 10px;
}
.links {
  color: white;
  float: right;
}  
header {
  text-align: center;
  margin-top: 50px;
}  

main {
  display: block;
  width: 85%;
  //max-width: 750px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom:50px;
  text-align: center;
}


p, h1, h2, h3, h4, h5 {
  text-align: center;
}
.description {
 max-width: 220px;
 text-align: center;
 margin: 0 auto 5px;

}
.title {
 max-width: 220px;
 text-align: center;
 margin: 0 auto 10px;
 font-weight: 900;
 height:50px;
}
.results {
  display: inline-grid;
  padding: 5px;
}
.footer {
 margin: 0 auto 10px;
 width: 100%;
 display: block;
 clear: both;
}
.centerText {
  text-align: center;
}
img.thumbnail {
  max-width: 220px;
}
.YT-logo {
  height: 20px; 
}
.YT-text {
  vertical-align: top;
  font-weight:900;
}